@model MVCClient.ViewModels.Helpers.ICommodityAutoCompleteViewModel

@Html.HiddenFor(model => model.CommodityID)

<div class="div-row">
    @Html.LabelFor(model => model.CommodityName, htmlAttributes: new { @class = "control-label1" })
    <div class="div-input">
        @Html.Kendo().MaskedTextBoxFor(model => model.CommodityName).HtmlAttributes(new { @class = "input-class1", @readonly = "readonly" })

    </div>
</div>

<div class="div-row">
    @Html.LabelFor(model => model.CommodityCode, htmlAttributes: new { @class = "control-label1" })
    <div class="div-input">
        @Html.Kendo().MaskedTextBoxFor(model => model.CommodityCode).HtmlAttributes(new { @class = "input-class1", @readonly = "readonly" })
    </div>
    <div class="div-validation-message">
        @Html.ValidationMessageFor(model => model.CommodityCode, "", new { @class = "text-danger" })
    </div>
</div>