@using MVCClient.Configuration
@using MVCClient.ViewModels.SalesTasks

@model MVCClient.ViewModels.SalesTasks.ServiceContractViewModel

<div id="popupWindow"></div>


<div id="div-form">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="div-main">

            @Html.HiddenFor(model => model.ServiceContractID)
            @Html.HiddenFor(model => model.SalesInvoiceDetailID)

            @Html.HiddenFor(model => model.SubmitTypeOption)


            <div class="div-left">
                <div class="form-group1">
                    @Html.LabelFor(model => model.Reference, htmlAttributes: new { @class = "control-label-left" })
                    <div class="div-input">
                        @Html.Kendo().MaskedTextBoxFor(model => model.Reference).HtmlAttributes(new { @class = "input-class", @readonly = "readonly" })
                        @Html.ValidationMessageFor(model => model.Reference, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group1">
                    @Html.LabelFor(model => model.EntryDate, htmlAttributes: new { @class = "control-label-left" })
                    <div class="div-input">
                        @Html.Kendo().DateTimePickerFor(model => model.EntryDate).HtmlAttributes(new { @class = "input-class" })
                        @Html.ValidationMessageFor(model => model.EntryDate, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group1">
                    @Html.LabelFor(model => model.LicensePlate, htmlAttributes: new { @class = "control-label-left" })
                    <div class="div-input">
                        @Html.Kendo().MaskedTextBoxFor(model => model.LicensePlate).HtmlAttributes(new { @class = "input-class" })
                        @Html.ValidationMessageFor(model => model.LicensePlate, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group1">
                    @Html.LabelFor(model => model.PurchaseDate, htmlAttributes: new { @class = "control-label-left" })
                    <div class="div-input">
                        @Html.Kendo().DatePickerFor(model => model.PurchaseDate).HtmlAttributes(new { @class = "input-class" })
                        @Html.ValidationMessageFor(model => model.PurchaseDate, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group1">
                    @Html.LabelFor(model => model.AgentName, htmlAttributes: new { @class = "control-label-left" })
                    <div class="div-input">
                        @(Html.Kendo().AutoCompleteFor(model => model.AgentName)
                            .DataSource(source =>
                            {
                                source.Read(read =>
                                {
                                    read.Action("SearchAgentName", "ServiceContractsApi").Data("onAdditionalAgentNameData");
                                })
                                .ServerFiltering(true);
                            })
                            .HtmlAttributes(new { @class = "input-class" })
                        )
                        @Html.ValidationMessageFor(model => model.AgentName, "", new { @class = "text-danger" })
                    </div>
                </div>

            </div>


            <div class="div-right">
                <div class="contract-separator">
                    <div id="customer-div" class="customer-background">
                        @if (@Model.SalesInvoiceDetailID > 0)
                        {
                            @Html.Partial("~/Views/Helpers/Commons/_CustomerMaskedTextBox.cshtml")}
                        else
                        {
                            @Html.Partial("~/Views/Helpers/Commons/_CustomerAutoComplete.cshtml")}
                    </div>
                </div>
                <div class="panel-div" style="margin-top: 0px;">
                    @(Html.Kendo().PanelBar()
                    .Name("IntroPanelBar")
                    .Items(items =>
                    {
                        items.Add()
                            .Text("Thông tin xe")
                            .Selected(true)
                            .Expanded(true)
                            .Content(@<text>

                                <div class="div-panel-left">
                                    @if (@Model.SalesInvoiceDetailID > 0)
                                    {
                                        @Html.Partial("~/Views/Helpers/Commons/_CommodityMaskedTextBox.cshtml")}
                                    else
                                    {
                                        @Html.Partial("~/Views/Helpers/Commons/_CommodityAutoComplete.cshtml")}

                                    <div class="div-row">
                                        @Html.LabelFor(model => model.ChassisCode, htmlAttributes: new { @class = "control-label1" })
                                        <div class="div-input">
                                            @Html.Kendo().MaskedTextBoxFor(model => model.ChassisCode).HtmlAttributes(new { @class = "input-class1" })
                                        </div>
                                        <div class="div-validation-message">
                                            @Html.ValidationMessageFor(model => model.ChassisCode, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="div-row">
                                        @Html.LabelFor(model => model.EngineCode, htmlAttributes: new { @class = "control-label1" })
                                        <div class="div-input">
                                            @Html.Kendo().MaskedTextBoxFor(model => model.EngineCode).HtmlAttributes(new { @class = "input-class1" })
                                            @Html.ValidationMessageFor(model => model.EngineCode, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="div-row">
                                        @Html.LabelFor(model => model.ColorCode, htmlAttributes: new { @class = "control-label1" })
                                        <div class="div-input">
                                            @Html.Kendo().MaskedTextBoxFor(model => model.ColorCode).HtmlAttributes(new { @class = "input-class1" })
                                            @Html.ValidationMessageFor(model => model.ColorCode, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="div-row">
                                        <div class="form-group1">
                                            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label1" })
                                            <div class="div-input">
                                                @Html.Kendo().MaskedTextBoxFor(model => model.Description).HtmlAttributes(new { @class = "input-class1" })
                                            </div>
                                            <div class="div-validation-message">
                                                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>

                                    @*@Html.Partial("~/Views/Helpers/Commons/_PreparedPersonDropDown.cshtml")*@
                                    <div class="div-row">
                                        <div class="form-group1">
                                            @Html.LabelFor(model => model.PreparedPersonID, htmlAttributes: new { @class = "control-label1" })
                                            <div class="div-input">
                                                @Html.Kendo().DropDownListFor(m => m.PreparedPersonID).BindTo(Model.PreparedPersonDropDown).HtmlAttributes(new { @class = "input-class1" })
                                            </div>
                                            <div class="div-validation-message">
                                                @Html.ValidationMessageFor(model => model.PreparedPersonID, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>


                                </div>
                                <div class="div-panel-right">

                                    <div class="div-row">
                                        @Html.LabelFor(model => model.Remarks, htmlAttributes: new { @class = "control-label1" })
                                        <div class="div-input">
                                            @Html.Kendo().MaskedTextBoxFor(model => model.Remarks).HtmlAttributes(new { @class = "input-class1" })
                                        </div>
                                        <div class="div-validation-message">
                                            @Html.ValidationMessageFor(model => model.Remarks, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="div-row">
                                        @Html.LabelFor(model => model.BeginningMeters, htmlAttributes: new { @class = "control-label1" })
                                        <div class="div-input">
                                            @Html.Kendo().NumericTextBoxFor(model => model.BeginningMeters).HtmlAttributes(new { @class = "input-class1" })
                                        </div>
                                        <div class="div-validation-message">
                                            @Html.ValidationMessageFor(model => model.BeginningMeters, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="div-row">
                                        @Html.LabelFor(model => model.EndingMeters, htmlAttributes: new { @class = "control-label1" })
                                        <div class="div-input">
                                            @Html.Kendo().NumericTextBoxFor(model => model.EndingMeters).HtmlAttributes(new { @class = "input-class1" })
                                        </div>
                                        <div class="div-validation-message">
                                            @Html.ValidationMessageFor(model => model.EndingMeters, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="div-row">
                                        @Html.LabelFor(model => model.BeginningDate, htmlAttributes: new { @class = "control-label1" })
                                        <div class="div-input">
                                            @Html.Kendo().DatePickerFor(model => model.BeginningDate).HtmlAttributes(new { @class = "input-class1" })
                                        </div>
                                        <div class="div-validation-message">
                                            @Html.ValidationMessageFor(model => model.BeginningDate, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="div-row">
                                        @Html.LabelFor(model => model.EndingDate, htmlAttributes: new { @class = "control-label1" })
                                        <div class="div-input">
                                            @Html.Kendo().DatePickerFor(model => model.EndingDate).HtmlAttributes(new { @class = "input-class1" })
                                        </div>
                                        <div class="div-validation-message">
                                            @Html.ValidationMessageFor(model => model.EndingDate, "", new { @class = "text-danger" })
                                        </div>
                                    </div>




                                    @Html.Partial("~/Views/Helpers/Commons/_ServiceContractTypeDropDown.cshtml")
                                    @*@Html.Partial("~/Views/Helpers/Commons/_ApproverDropDown.cshtml")*@
                                    <div class="div-row">
                                        @Html.LabelFor(model => model.ApproverID, htmlAttributes: new { @class = "control-label1" })
                                        <div class="div-input">
                                            @Html.Kendo().DropDownListFor(m => m.ApproverID).BindTo(Model.ApproverDropDown).HtmlAttributes(new { @class = "input-class1" })
                                        </div>
                                        <div class="div-validation-message">
                                            @Html.ValidationMessageFor(model => model.ApproverID, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                </div>

                            </text>).HtmlAttributes(new { @class = "panel-class" });
                    })
                    )
                </div>

            </div>


            <div class="div-button">
                @if (Model.Editable)
                {
                    <input id="closedSubmitButton" type="submit" formaction="@Url.Action("Edit", "ServiceContracts")" value="Save" class="k-button custom-button" />
                }
                <input id="submitCreateWizard" style="display:none" type="submit" formaction="@Url.Action("Edit", "ServiceContracts")" class="k-button custom-button cancel" />
            </div>
            @Html.Partial("~/Views/Helpers/Commons/_ViewHeader.cshtml")
        </div>
    }
</div>


<link href="@Url.Content("~/Content/CustomCss/FourColumn.css")" rel="stylesheet" type="text/css" />


<script type="text/javascript">
    $(document).ready(function () {
        if ('@Model.SalesInvoiceDetailID' == 0) {
            SetReadony(false);
        }
        else {
            SetReadony(true);
        }
    });

    function onAdditionalAgentNameData(e) {
        return {//Send parameter to controller search action
            agentName: $("#AgentName").data("kendoAutoComplete").value()
        };
    }

    function SetReadony(isReadonly) {
        $("#PurchaseDate").data("kendoDatePicker").readonly(isReadonly);
        $("#EngineCode").data("kendoMaskedTextBox").readonly(isReadonly);
        $("#ChassisCode").data("kendoMaskedTextBox").readonly(isReadonly);
        $("#ColorCode").data("kendoMaskedTextBox").readonly(isReadonly);
    }


    $("#PurchaseOrderReference").dblclick(function (e) {

        var popupWindow = $("#popupWindow");
        var mywindow = CreatePopUp("Chọn đơn đặt hàng", "650px", "550px", popupWindow);

        if (mywindow != null) {
            var url = "@Url.Action("CreateWizard", "PurchaseInvoices")";

            mywindow.center().open();
            mywindow.refresh(url);
        }
    });

</script>

