@using Microsoft.AspNet.Identity
@model IEnumerable<MVCModel.Helpers.Module>

<div class="MainMenu-left">
    <span id="home-button" style="float: left; margin: 8px;">
        <a href="@Url.Action("index", "Home")"><img src="~/Content/Images/New/menu/menu_xemay.png" title="Trang chủ" alt="Trang chủ" /></a>
    </span>
    <span style="float: left; margin-top: 10px;">
        @*@Html.Kendo().DropDownList().Name("CNName").HtmlAttributes(new { @style = "width: 250px;" })*@
        @(Html.Kendo().DropDownList()
          .Name("CNName")
          .DataTextField("Text")
          .DataValueField("Value")
          .HtmlAttributes(new { style = "width: 250px; text-align: left;" })
          .BindTo(new List<SelectListItem>()
          {
              new SelectListItem() {
                Text = "Tân Thành 1 [46001]", Value ="46001"
              },
              new SelectListItem() {
                Text = "Tân Thành 2 [46002]", Value ="46002"
              },
              new SelectListItem() {
                Text = "Tân Thành 3 [46003]", Value ="46003"
              },
              new SelectListItem() {
                Text = "Tân Thành 4 [46004]", Value ="46004"
              },
              new SelectListItem() {
                Text = "Tân Thành 5 [46005]", Value ="46005"
              }
          })
        )
    </span>
    @*<span style="float: left; margin-top: 10px;">
        @Html.Kendo().MaskedTextBox().Name("SearchBox").HtmlAttributes(new { @style = "float: left; width: 250px;" })
    </span>*@
</div>

<div  style="float: right; width: 530px;">
    @(Html.Kendo().Menu()
    .Name("MainMenu")
        .HtmlAttributes(new { @style = "width: 480px; height: 0px;" })
    .Items(items =>
    {
        //items.Add()
        //.Text(" ")
        ////.Content("Home")
        //.ImageUrl("~/Content/Images/New/Alert32x32.png")
        //.Action("Index", "Home")
        //.HtmlAttributes(new { @class = "firstitem", @title = "Home" });
        foreach (var item in Model)
        {
            items.Add()
                .Text(item.Description)
                .ImageUrl(item.ImageIndex)
                .HtmlAttributes(new { @class = "menuitem", @moduleid = item.ModuleID, @modulename = item.Description });
        }
    })          
    .Events(e => e.Select("selectModule"))
    )

    <div style="margin-top: 11px;">        
        <span id="up-arrow-container" class="arrow-container" style="display:none;">
            <a href="javascript:void(0)"><img src="~/Content/Images/New/uparrow1.png" title="Thu gọn" alt="Thu gọn" onclick="collapse_click()" /></a>
        </span>
        <span id="down-arrow-container" class="arrow-container">
            <a href="javascript:void(0)"><img src="~/Content/Images/New/downarrow1.png" title="Mở rộng" alt="Mở rộng" onclick="expand_click()" /></a>
        </span>
    </div>     
</div>

<div style="width:100%; height: 20px; clear:both; padding: 10px 8px 11px 1px; text-align: left; z-index: 3;">    
    <a class="info-bar1" href="javascript:void(0)" style="color: GrayText;"><img src="~/Content/Images/New/Near-Me_Gray.png" alt=" " /><span>@ViewBag.ModuleName</span></a>
    <a class="info-bar2" href="@Url.Action("index", ViewBag.TaskController)" title="Trở về" style="color: GrayText;"><img src="~/Content/Images/New/Near-Me_Gray.png" alt=" " /><span>@ViewBag.TaskName</span></a>
</div>

@if (Request.IsAuthenticated)
{
    @(Html.Kendo().Window()
                .Name("windowchat")
                .Title("Chat")
                .Actions(actions => actions.Custom("custom_minimize").Custom("custom_restore").Pin())
                .Content(@<text>
                    <label id="lblUserName" style="width:180px;" hidden="hidden">@User.Identity.GetUserName()</label>
                    <textarea style="width:180px; height:180px; margin-left: 2px; border-color: silver; background-color:transparent; color: #222523" readonly="readonly" id="discussion"></textarea>
                    <input type="text" class="k-textbox" id="message" style="width: 180px" />
                    <input type="hidden" style="width:180px;" id="displayname" />
                </text>
                )
                .Width(200)
                .Height(230)
                .Pinned(true)
                .Draggable(true)
                .Visible(false)
    )
}