@using MVCClient.Configuration;

@{Layout = "~/Views/Shared/_LayoutPopupWindow.cshtml";}


@using (Html.BeginForm())
{
    <div class="div-tabstrip">

        @(Html.Kendo().TabStrip()
        .Name("tabStrip")        
        .Items(tabStrip =>
        {
            tabStrip.Add().Text("Xe đang sửa chữa")
                .Selected(true)
                .Content(@<text>
                @Html.Partial("~/Views/Helpers/Commons/_SearchServiceInvoice.cshtml")
                </text>);

            tabStrip.Add().Text("Xe đã đăng ký hồ sơ")
                .Content(@<text>
                    @Html.Partial("~/Views/Helpers/Commons/_SearchServiceContract.cshtml")
                </text>);
        })
        )
    </div>

    <div class="div-popup-button">
        <input id="okButton" type="button" value="Bán phụ tùng khách hàng mua xe" class="k-button" onclick="okButton_Click()" />
        <input id="okWOSelectButton" type="button" value="Bán phụ tùng đại lý" class="k-button" onclick="okWOSelectButton_Click()" />
        <input id="cancelButton" type="button" value="Thoát" class="k-button" onclick="cancelButton_Click()" />
    </div>
}

<link href="@Url.Content("~/Content/CustomCss/GeneralPopup.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/Helpers/SalesTasks/salesInvoiceCreateWizard.js")"></script>

<script type="text/javascript">
    function okButton_Click() {
        handleOKEvent($($("#tabStrip").data("kendoTabStrip").select().index() === 0 ? "#gridServiceInvoices" : "#gridServiceContracts").data("kendoGrid"));
    }

    function okWOSelectButton_Click() {
        handleOKEvent();
    }
</script>
